$panel-tabs-width: 80px;
.tabs {
    position: absolute;
    right: 0;
    top: 1em;
    width: $panel-tabs-width;
    a {
        text-decoration: none;
        cursor: pointer;
        display: block;
        width: $panel-tabs-width;
        height: $panel-tabs-width;
        font-size: $panel-tabs-width/2;
        line-height: $panel-tabs-width;
        text-align: center;
        color: #a3a3a3;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: no-repeat;
        background-position: center;
    }
}
.sidebar-menu {
    padding: 0;
    right: 0;
    height: 0;
    overflow: visible;
    .wrapper {
        max-height: 100%;
        background-color: transparent;
        color: hsl(15, 2%, 50%);
        overflow-x: visible;
        transition: transform 0.5s;
        position: relative;
        top: 1em;
        margin-right: $panel-tabs-width;
        .panel-content {
            background-color: $panel-bg-color;
            padding: 2em;
            margin: 0;
            max-height: 100vh;
            overflow: auto;
            h3 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}


.panel-visible {
    z-index: 12;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transition: transform 0.5s;
    position: absolute;
}

.panel-hidden {
    z-index: 12;
    transform: translate(-100%, 0);
    transition: transform 0.5s;
    position: absolute;
    z-index: 10;
    left: 0;
}
