<div class="snw-map-container" ng-if="libsReady">
  <gmap class="col-xs-12"></gmap>
  <div class="snw-map-controls" ng-if="mapReady">
	  <div class="tabs">
		  <a ng-click="onClickTab('exerciseOne')" class="btn btn-default">Ex. 1</a>
	  	  <a ng-click="onClickTab('exerciseTwo')" class="btn btn-default">Ex. 2</a>
	  </div>
	  <div class="sidebar-menu col-md-4 col-lg-4 panel-visible">
		  <div class="wrapper">
		  	<exercise-one></exercise-one>
		  	<exercise-two></exercise-two>
		  </div>
	  </div>
  </div>
</div>
