<div class="result-element" id="result-marker-{{id}}">
  <div class="panel-result panel panel-default">
    <div class="result-name panel-heading" alt="{{title}}">
      <div class="title-text">{{title}}</div>
    </div>
    <div  class="imgPlace" ng-class="imgDefault ? 'imgDefault' : ''" style="background-image: url({{imgUrl}});">
    </div>
    <div class="result-details panel-body">
      <p class="phone" ng-if="phone">
        <span><i class="fa fa-phone"></i>{{phone}}</span>
      </p>
      <p ng-if="openingStatus" class="opening-hours">
        <span><i class="fa fa-clock-o"></i>{{openingStatus}}</span>
        <span class="hours">{{openingToday}}</span>
      </p>
      <p ng-if="address" class="address">
        <span><i class="fa fa-map-marker"></i>{{address}}</span>
      </p>
      <p ng-if="website" class="website">
        <a target="_blank" href="{{website}}"><i class="fa fa-link"></i>Página web</a>
      </p>
      <p ng-if="gmapLink" class="get-in">
        <a target="_blank" href="{{gmapLink}}"><i class="fa fa-map-o"></i>Cómo llegar</a>
      </p>
    </div>
  </div>
</div>
