$primary-color: hsl(125, 39%, 62%);
$panel-bg-color: #FAFAFA;
$panel-tabs-width: 100px;
// Screen sizes (grid)
$mobile-360: 22.5em;
$mobile: 30em;
$tablet: 44em;
$desk: 70em;
$max-width: 75em;
$large-desk: 87em;
$large-width: 82em;
$monster: 118.750em;
